.aboutme_text{
    color: darkslategray !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
}


/* Timeline section */
.resume_timeline .timeline_content .timeline_title{
    font-size: 16px !important;
    font-weight: 500 !important;
}
.resume_timeline .timeline_content .timeline_date{
   color: darkslategray;
}
.resume_timeline .timeline_content .timeline_description{
    color: gray;
    font-size: small;
    margin-top: 6px;
}
/* end of timeline section */


/* Services */
.services{
    height:100%;
    text-align: center;
}
.services .services_title{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
    text-align: center;
}
.services .service_description{
    color: #989898 !important;
    border-color: var(--main-color) !important;
    margin-right: 5px !important;
    text-align: center !important;
}

.service_icon > .MuiSvgIcon-root{
    font-size: 46px !important;
    margin-left: 0 !important;
    font-weight: 300 !important;
    color: darkslategray !important;
}
/* end of services */

/* skills */
.skill{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 48px 0 rgba(4,6,4,0.08) !important;
    min-height: 186px;
    height: 100%;
}
.skill .skill_title{
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 35px !important;
}
.skill .skill_description{
    display: flex !important;
    align-items: center !important;
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}
.skill .skill_description .timeline_dot{
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px !important;
}
/* end of skills */


/* contacts */

.contactsInfo_items{
    font-size: 14px !important;
    color: #787878;
    line-height: 34px !important;
}
.contactsInfo_items > span{
    color: black;
    font-weight: 500;

}
.contactInfo_socialsContainer{
    margin-top: 25px;
}
.contactInfo_social > a > .MuiSvgIcon-root{
    font-size: 16px !important;
    margin-right: 10px;
    color: black;
}

/* end of contact section */